*{
    border: 1px rgba(255, 0, 0, 0) solid;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: black;
}
body{
    width: 800px;
    margin: auto;
}
.line{
    border: 1px solid rgba(128, 128, 128, 0.329);
    border-width: 1px 0px 0px 0px;
}
/***************导航栏样式********************/
nav{
    border: 1px  solid  rgba(129, 129, 129, 0.438);
    border-width: 0px 0px 1px 0px;
    display: flex;
    height: 60px;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content:flex-end
}
.drop{
    border: none;
}
.drop>a{
    color: rgb(163, 105, 218);
    display: block;
    width: 140px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: larger;
    font-weight: 300;
    border: none;
}

.dropcontent{
    display: none;
}

nav:hover .dropcontent{
    display: block;
    position:absolute;
}

.dropcontent>a{
    display: block;
    width: 140px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 300;
    color: rgb(180, 124, 245);
    border: none;
}

#skinswitch{
    width: 40px;
    padding: 4px;
}
/**************导航栏样式结束****************/

/***************搜索框样式*******************/
#search{
    height: 600px;
    display: flex;
    align-items:center;
    justify-content: center;
}

#englist{
    border: none;
}
#englist>a{
    cursor: default;
    display: block;
    border: 1px solid rgb(168, 168, 168);
    border-width: 0px 0px 1px 0px;
    padding: 0px 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 60px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(163, 105, 218);
    font-size: large;
}
#englist button{
    cursor: pointer;
    display: block;
    border: 1px solid rgb(168, 168, 168);
    border-width: 0px 0px 1px 0px;
    padding: 0px 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 10px;
    font-weight: 10;
    width: 80px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(163, 105, 218);
    font-size: large;
}
#engdrop{
    display: none;
}
#engdrop>button{
    border: none;
}
#englist:hover #engdrop{
    display: block;
    position: absolute;
}

#searchbar{
    height: 40px;
    width: 480px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid rgb(168, 168, 168);
    border-width: 0px 0px 1px 0px;
    font-size: large;
    padding: 0px 16px;
    color: rgba(128, 128, 128, 0.473);
    outline: none;
}
#search>button{
    height: 41px;
    width: 60px;
    text-align: center;
    line-height: 40px;
    border: 1px solid rgb(168, 168, 168);
    border-width: 0px 0px 1px 0px;
    color: rgb(163, 105, 218);
    background-color: rgba(240, 248, 255, 0);
    font-size: larger;
    cursor: pointer;
}

/************导航栏结束***************/

/**************快捷方式**************/

#shortcut{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.stit{
    display: block;
    width: 120px;
    text-align: center;
    padding: 16px;
    margin: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.stit>img{
    width: 60px;
    height: 60px;
}