
html{
    background-color: rgb(240, 239, 239);
}
.dropcontent>a{
    background-color: rgba(218, 218, 218, 0.445);
}
.stit:hover{
    border-bottom: 1px solid black;
    background-color: rgba(0, 0, 0, 0.041);
}