*{
    border: 1px solid rgba(255, 0, 0, 0);
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
input:focus{
    outline: none;
}

#pre{
    display: flex;
    /*************debug*******************

    display: none;
    
    */
    
    height: 100%;
    background-color: rgb(219, 219, 219);
    align-items: center;
    justify-content: center;
}
#window{
    height: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 20px;
    background-color: white;
}
#window>h1{
    font-weight: 50;
    margin: 20px;
    color: rgb(75, 75, 75);
}
#window>main{
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content:center;
}
#window>main>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#window>main>div>input{
    height: 60px;
    width: 120px;
    text-align: center;
    font-size: x-large;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 8px;
    margin: 10px;
    color: rgb(179, 179, 179);
}

#window>main>span{
    margin: 16px;
    font-size: xxx-large;
}
#window>button{
    height: 60px;
    align-self: flex-end;
    margin-right: 120px;
    margin-top: 24px;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(167, 167, 167);
    font-size: medium;
}
#window>button:hover{
    cursor: pointer;
}
#l_u,#r_u{
    border: 20px solid;
    border-color: rgba(240, 248, 255, 0) rgba(245, 222, 179, 0) rgb(131, 131, 131) rgba(210, 180, 140, 0);
}
#l_u:hover,#r_u:hover{
    cursor: pointer;
    border-color: rgba(240, 248, 255, 0) rgba(245, 222, 179, 0) rgb(63, 63, 63) rgba(210, 180, 140, 0);

}
#l_d,#r_d{
    border: 20px solid;
    border-color: rgb(131, 131, 131) rgba(245, 222, 179, 0) rgba(0, 0, 0, 0) rgba(210, 180, 140, 0);
}
#l_d:hover,#r_d:hover{
    cursor: pointer;
    border-color: rgb(63, 63, 63) rgba(245, 222, 179, 0) rgba(0, 0, 0, 0) rgba(210, 180, 140, 0);

}

#main{
    display: none;

    /*
    ****************************debug**********************
    
    display: flex;
    
    */
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}
#mat_table{
    min-height: 500px;
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
}
#mat_table>div{
    flex-grow: 1;
    display: flex;
    max-width: 100%;
    min-height: 40px;
}
#mat_table>div:hover{
    background-color: rgba(182, 218, 235, 0.521);
}
.lineOrdinal{
    display: block;
    width: 28px;
}
.inputbox{
    flex-grow: 1;
    flex-shrink: 1;
    margin: 4px;
    font-size: larger;
    text-align: center;
    width: 1%;
    border: 1px solid gray;
    border-radius: 4px;
    
}
button{
    height: 50px;
    width: 80px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
    font-size: medium;
}

#result{
    display: none;

}
#result>p{
    height: 40px;
    width: 120px;
    text-align: center;
    line-height: 40px;
    border: 1px solid rgb(153, 153, 153);
}