/***************************************************/
/*全局外观*/
html {
    background-color: rgb(223, 221, 221);
    min-width: 1200px;
}
*{
    border: 1px rgba(255, 0, 0, 0) solid;
}
body{
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: rgb(61, 131, 90);
}

a.inline_a{
    text-decoration: underline;
    color: rgb(15, 172, 172);
}
em{
    text-decoration: underline;
}
em::after{
    content: " ";
}
em::before{
    content: " ";
}
div.line{
    width: 100%;
    display: block;
    border: 1px solid black;
}
div.main_line{
    width: 100%;
    display: block;
    border: 1px solid rgb(119, 119, 119);
    border-width: 1px 0px 0px 0px;
}
/***************************************************/
/*导航栏和侧边栏*/
nav>h1 {
    margin: 20px;
    font-size: xx-large;
    font-weight: 400;
}
#side_bar{
    margin: 10px;
    flex-grow: 0;
    width: 200px;
    flex-shrink: 0;
    border-right: 1px solid black;
}
#side_bar>ul{
    padding: 10px 10px 10px 30px;
}
#side_bar>ul>li{
    list-style: none;
    margin: 4px;
}
/***************************************************/
/*主体外观*/
main{
    flex-grow: 7;
}
code {
    flex-grow:1;
    margin: 8px;
    border-radius: 5px;
}
p.ps{
    text-decoration: underline;
    font-style: italic;
    color: gray;
}
span.param{
    color: rgb(43, 130, 151);
    font-weight: 800;
    font-style: italic;
}
span.param::before{
    content: "@Param ";
    color: rgb(153, 3, 133);
    font-weight: 800;
    font-style: italic;
}
span.param::after{
    content: " : ";
    color: rgb(153, 3, 133);
    font-weight: 800;
    font-style: italic;
}
span.re{
    color: rgb(43, 130, 151);
    font-weight: 800;
    font-style: italic;
}
span.re::before{
    content: "@retval ";
    color: rgb(3, 153, 66);
    font-weight: 800;
    font-style: italic;
}
span.re::after{
    content: " : ";
    color: rgb(3, 153, 66);
    font-weight: 800;
    font-style: italic;
}
pre{
    tab-size: 2em;
    font-size: large;
}
main>h3{
    border: 1px solid gray;
    border-width: 1px 0px 0px 0px;
    padding-top: 20px;
}